body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(22,20,18);
  background: linear-gradient(90deg, rgba(22,20,18,1) 0%, rgba(64,59,55,1) 24%, rgba(43,39,34,1) 35%, rgba(70,63,50,1) 56%, rgba(97,90,72,1) 75%, rgba(52,48,35,1) 84%, rgba(13,12,10,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
